---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const pageTitle = "about me";

const identity = {
    fname: "naveed",
    lname: "wani",
    occupation: "web dev",
    hobbies: ["code", "game", "baseball"],
};
const skills = ["js", "go", "nvim", "zig"];

const happy = true;
const finished = false;
const goal = 4;

const skillColor = "navy";
const fontWeight = 400;
const textCase = "uppercase";
const fontFamily = "Fira Sans";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <style define:vars={{ skillColor, fontWeight, textCase, fontFamily }}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
                font-family: var(--fontFamily);
            }
        </style>
    </head>
    <body>
        <Navigation />
        <h1>{pageTitle}</h1>
        <h2>... and my Astro website!</h2>
        <p>
            I am working through astro's introductory tutorial. This is my
            second page.
        </p>
        <p>
            This site will update as I complete more of the tutorial, so keep
            checking back.
        </p>
        <p>Here are some facts about me:</p>
        <ul>
            <li>my name is {identity.fname}</li>
            <li>
                two of my hobbies are: {identity.hobbies[0]} and {
                    identity.hobbies[1]
                }
            </li>
        </ul>
        <p>my skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        <p>
            {happy && <p>i am happy learning astro</p>}
            {finished && <p>i am not finished with tutorial</p>}
            {
                goal === 3 ? (
                    <p>my goal is to finish tutorial in 3 days</p>
                ) : (
                    <p>maybe more then 3 days</p>
                )
            }
        </p>
    </body>
</html>
